.ProjectCard {
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    height: 60%;
    border: 1px solid #eee;
    margin-top: 20px;
    margin-bottom: 20px;
}


.projectImage {
    width: 70%;
    height: 100px;
    object-fit: cover; 
    display: block;
    background-color: #f9f9f9;
}

.projectDetails {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.ProjectCard h4 {
    margin: 0;
    font-size: 1.2rem;
    color: #222;
    font-weight: 700;
}

.ProjectCard p {
    margin: 0;
    font-size: 0.95rem;
    color: #666;
    line-height: 1.5;
}